.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.logo {
    width: 16rem;
    margin-right: 10px;
}

.navbar-right a{
    text-decoration: none;
    color: var(--text);
    margin-right: 10px;
    font-size: 20px;
    transition: all 0.5s ease;
}

.navbar-right a:hover{
    color: var(--accent);
    transition : all 0.5s ease;
}