@media (prefers-color-scheme: light) {
  :root {
    --text: #000000;
    --background: #d8e6ee;
    --primary: #81b1ad;
    --secondary: #68926d;
    --accent: #9d7648;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #FFFFFF;
    --background: #111F27;
    --primary: #4E7E7A;
    --secondary: #6D9772;
    --accent: #B78F62;
  }
}

@font-face {
  font-family: 'Outfit';
  src: url('./asset/font/Outfit-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Outfit', sans-serif;
  transition : all 0.5s ease;
}